@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TalentHub</h1>

    @using (Html.BeginForm("", "Post", FormMethod.Get))
    {
        <input class="col-md-5" type="text" name="tags" placeholder="Aprenda algo hoje!" />
        <input type="submit" value="Procurar" />
    }

    <br>
    <h2>O que é o TalentHub?</h2>
    O TalentHub é uma plataforma criada para facilitar e agilizar o acesso à qualquer tipo de informação, seja para começar a aprender sobre física quântica ou só para fazer uma receita de bolo à tarde.
    <br>
    <br>
    Experimente pesquisar algum assunto que goste na barra de pesquisa ali em cima ;)
    <br>
    <br>
    <h2>Como usar o TalentHub?</h2>
    Você pode começar tentando procurar algum artigo de seu interesse na aba <b>Posts</b>, caso você tenha alguma dúvida sobre qualquer assunto ou queira ajudar alguém que possa ter alguma dúvida entre na aba <b>Ask Something</b> e escreva um artigo.
    <br>Quando quiser fazer algum post ou pergunta você pode escreve-lo usando texto normalmente ou usando <a href="https://commonmark.org/help">Markdown</a> para conseguir formatar melhor o seu texto. 
    Markdown é bem fácil de usar, você pode acessar um tutorial rápido (10 minutos no máximo) <a href="https://commonmark.org/help/tutorial/">aqui</a>.
    <p></p>
    
</div>
