@{
    ViewData["Title"] = "Política de Privacidade do TalentHub";
}
<h1>@ViewData["Title"]</h1>

<p>
<sub>Data de Vigência: 01/12/2023</sub>
<br><br>
<h2>Bem-vindo ao TalentHub!</h2>
<br>
A sua privacidade é importante para nós. Esta Política de Privacidade explica como coletamos, usamos, divulgamos e protegemos as suas informações pessoais quando você utiliza o nosso site e os nossos serviços.
<br>
<br>
<h3>1. Informações Coletadas</h3>
Coletamos informações que você nos fornece voluntariamente, como nome, endereço de e-mail, e outras informações de contato. Também podemos coletar informações automaticamente quando você utiliza o TalentHub, como endereço IP, tipo de dispositivo e navegador, e páginas visitadas.
<br>
<h3>2. Uso das Informações</h3>
Utilizamos as informações coletadas para fornecer e melhorar os nossos serviços, personalizar a sua experiência no TalentHub, enviar comunicações relacionadas aos nossos serviços, e para fins de análise e pesquisa.
<br>
<h3>3. Compartilhamento de Informações</h3>
Não compartilhamos suas informações pessoais com terceiros, exceto quando necessário para fornecer os nossos serviços ou quando exigido por lei.
<br>
<h3>4. Cookies e Tecnologias Semelhantes</h3>
Utilizamos cookies e tecnologias similares para melhorar a sua experiência no TalentHub, personalizar conteúdo e anúncios, e analisar o desempenho do site.
<br>
<h3>5. Segurança</h3>
Implementamos medidas de segurança para proteger as suas informações pessoais contra acesso não autorizado, alteração, divulgação ou destruição não autorizada.
<br>
<h3>6. Seus Direitos</h3>
Você tem o direito de acessar, corrigir, atualizar ou excluir suas informações pessoais. Entre em contato conosco para exercer esses direitos.
<br>
<h3>7. Menores de Idade</h3>
O TalentHub não é destinado a menores de idade e não coletamos intencionalmente informações de crianças menores de 13 anos.
<br>
<h3>8. Alterações a Esta Política de Privacidade</h3>
Podemos atualizar esta Política de Privacidade periodicamente. Recomendamos que reveja esta página regularmente para estar ciente de quaisquer alterações.
<br>
<br>
Obrigado por escolher o TalentHub!</p>
