@model IEnumerable<TalentHub.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>What people are asking right now</h1>

<p>
    <a asp-action="Create">Create New Question</a>
</p>
<table class="table">
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Title)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
        </tr>
}
    </tbody>
</table>
